{% extends 'base.html' %}

{% block content %}
<body>
    <h1>Tambah Lagu ke Playlist</h1>
    <form method="post" action="{% url 'add_song_to_playlist' id %}">
        {% csrf_token %}
        <label for="lagu">Lagu:</label>
        <select id="lagu" name="lagu" required>
            {% for song in songs %}
                <option value="{{ song.id }}">{{ song.judul }} - {{ song.artist }}</option>
            {% endfor %}
        </select><br>

        <button type="submit">Submit</button>
    </form>
</body>
{% endblock %}
