{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>User Playlist</h1>
    {% if playlists %}
        <table class="table">
            <thead>
                <tr>
                    <th>Judul</th>
                    <th>Deskripsi</th>
                    <th>Tanggal Dibuat</th>
                    <th>Jumlah Lagu</th>
                    <th>Total Durasi</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for playlist in playlists %}
                    <tr>
                        <td>{{ playlist.name }}</td>
                        <td>{{ playlist.description }}</td>
                        <td>{{ playlist.tanggal_dibuat }}</td>
                        <td>{{ playlist.jumlah_lagu }}</td>
                        <td>{{ playlist.durasi }}</td>
                        <td>
                            <a href="{% url 'playlist_detail' playlist.id %}" class="btn btn-info btn-sm">Detail</a>
                            <a href="{% url 'playlist_update' playlist.id %}" class="btn btn-primary btn-sm">Ubah</a>
                            <a href="{% url 'playlist_delete' playlist.id %}" class="btn btn-danger btn-sm">Hapus</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Anda Belum Memiliki Playlist</p>
    {% endif %}
    <a href="{% url 'playlist_create' %}" class="btn btn-success">Tambah Playlist</a>
</div>
{% endblock %}