{% extends 'base.html' %}

{% block content %}
<h2>DAFTAR LAGU</h2>

<table>
    <thead>
        <tr>
            <th>Judul Lagu</th>
            <th>Oleh</th>
            <th>Tanggal Download</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for downloaded_song in downloaded_songs %}
        <tr>
            <td>{{ downloaded_song.song.title }}</td>
            <td>{{ downloaded_song.song.artist }}</td>
            <td>{{ downloaded_song.timestamp|date:"d/m/Y" }}</td>
            <td>
                <a href="{% url 'song_detail' downloaded_song.song.id %}">Lihat</a>
                <form method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="song_id" value="{{ downloaded_song.song.id }}">
                    <button type="submit">Hapus</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'song_list' %}">Kembali</a>

{% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
{% endif %}

{% endblock %}