{% extends 'base.html' %}

{% block content %}
<h2>Daftar Lagu yang Diunduh</h2>
<table class="table table-dark">
    <thead>
        <tr>
            <th>Judul Lagu</th>
            <th>Oleh</th>
            <th>Tanggal Download</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for song in songs %}
        <tr>
            <td>{{ song.title }}</td>
            <td>{{ song.artist }}</td>
            <td>{{ song.timestamp }}</td>
            <td>
                <a href="{% url 'song_detail' song.song.id %}" class="btn btn-info">Lihat</a>
                <form method="post" action="{% url 'delete_downloaded_song' song.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Hapus</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'langganan:langganan_paket' %}" class="btn btn-secondary">Kembali</a>
{% endblock %}
