{% extends 'base.html' %}

{% block content %}
<h1>SONG DETAIL</h1>

<p><strong>Judul:</strong> {{ song.title }}</p>

<p><strong>Genre(s):</strong></p>
<ul>
{% for genre in song.genres.all %}
    <li>{{ genre.name }}</li>
{% endfor %}
</ul>

<p><strong>Artist:</strong> {{ song.artist.name }}</p>

<p><strong>Songwriter(s):</strong></p>
<ul>
{% for songwriter in song.songwriters.all %}
    <li>{{ songwriter.name }}</li>
{% endfor %}
</ul>

<p><strong>Durasi:</strong> {{ song.duration }} menit</p>
<p><strong>Tanggal Rilis:</strong> {{ song.release_date|date:"d/m/y" }}</p>
<p><strong>Tahun:</strong> {{ song.year }}</p>
<p><strong>Total Play:</strong> {{ song.total_play }}</p>
<p><strong>Total Downloads:</strong> {{ song.total_download }}</p>
<p><strong>Album:</strong> {{ song.album.title }}</p>

<form method="post">
    {% csrf_token %}
    <input type="range" name="progress" min="0" max="100" value="0">
    <button type="submit" name="play">Play</button>
</form>

<form method="post">
    {% csrf_token %}
    <button type="submit" name="add_to_playlist">Add to Playlist</button>
</form>

{% if is_premium %}
<form method="post">
    {% csrf_token %}
    <button type="submit" name="download">Download</button>
</form>
{% endif %}

<a href="{% url 'song_list' %}">Kembali</a>

{% if message %}
<p>{{ message }}</p>
{% if 'ditambahkan' in message %}
<a href="{% url 'playlist_detail' playlist.id %}">Ke Playlist</a>
{% elif 'unduh' in message %}
<a href="{% url 'downloaded_songs' %}">Ke Daftar Download</a>
{% endif %}
<a href="{% url 'song_detail' song.id %}">Kembali</a>
{% endif %}

{% endblock %}