{% extends 'base.html' %}

{% block content %}
<h2>Langganan Paket</h2>
{% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
{% endif %}
<table class="table table-dark">
    <thead>
        <tr>
            <th>Jenis</th>
            <th>Harga</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for paket in paket_list %}
        <tr>
            <td>{{ paket.jenis }}</td>
            <td>{{ paket.harga }}</td>
            <td><a href="{% url 'langganan:pembayaran_paket' paket.jenis %}" class="btn btn-info">Berlangganan</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'langganan:riwayat_transaksi' %}" class="btn btn-secondary">Riwayat Transaksi</a>
{% endblock %}
