<nav class="navbar navbar-expand-md navbar-dark bg-dark-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'main:home' %}">Mahmud</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                {% if not navbar.is_guest %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:dashboard' %}">Dashboard</a>
                    </li>
                    {% if navbar.is_user or navbar.is_artist or navbar.is_songwriter or navbar.is_podcaster %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Chart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Search Bar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'playlist_list' %}">Kelola Playlist</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Langganan Paket</a>
                        </li>
                    {% endif %}
                    {% if navbar.is_premium %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Kelola Downloaded Songs</a>
                        </li>
                    {% endif %}
                    {% if navbar.is_podcaster %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Kelola Podcast</a>
                        </li>
                    {% endif %}
                    {% if navbar.is_artist or navbar.is_songwriter %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'royalty_management:view_album' %}">Kelola Album & Songs</a>
                        </li>
                    {% endif %}
                    {% if navbar.is_label %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'royalty_management:view_album_label' %}">Kelola Album</a>
                        </li>
                    {% endif %}
                    {% if navbar.is_artist or navbar.is_songwriter or navbar.is_label %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'royalty_management:view_royalty' %}">Cek Royalti</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'main:home' %}">Home</a>
                    </li>
                {% endif %}
            </ul>
            <form class="d-flex" action="{% url 'main:search' %}" method="get">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
  
            {% if navbar.is_guest %}
                <form class="d-flex">
                    <button class="btn btn-pink me-2" type="button" onclick="location.href='{% url 'main:login' %}'">Login</button>
                    <button class="btn btn-cyan" type="button" onclick="location.href='{% url 'main:register' %}'">Register</button>
                </form>
            {% endif %}
        </div>
    </div>
</nav>
