{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="card bg-dark text-white">
        <div class="card-header">
            <h1>{{ playlist.title }}</h1>
        </div>
        <div class="card-body">
            <h5 class="card-title">Created by: {{ playlist.creator }}</h5>
            <p class="card-text"><strong>Number of Songs:</strong> {{ playlist.songs|length }}</p>
            <p class="card-text"><strong>Total Duration:</strong> {{ playlist.total_duration_hours }} hours {{ playlist.total_duration_minutes }} minutes</p>
            <p class="card-text"><strong>Created On:</strong> {{ playlist.created_date }}</p>
            <p class="card-text"><strong>Description:</strong> {{ playlist.description }}</p>
            
            <button class="btn btn-primary mt-2" onclick="shufflePlay()">Shuffle Play</button>
        </div>
        <div class="card-footer text-muted">
            <a class="btn btn-outline-light" onclick="window.history.back()">Back</a>
        </div>
    </div>

    <div class="table-responsive mt-4">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Duration</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for song in playlist.songs %}
                <tr>
                    <td>{{ song.title }}</td>
                    <td>{{ song.artist }}</td>
                    <td>{{ song.duration }} minutes</td>
                    <td>
                        <a class="btn btn-sm btn-secondary" href="{% url 'main:play_song' id=song.id_song %}">View</a>
                        <button class="btn btn-sm btn-info" onclick="playSong(`{% url 'main:user_play_song' id=song.id_song %}`)">Play</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    function playSong(id) {
        fetch(id).then(response => {
            if (response.ok) {
                alert('Song is playing!');
            }
            else{
                alert('Failed to play song!');
            }
        }, networkError => console.log(networkError))
        
    }

    function shufflePlay() {
        fetch("{% url 'main:shuffle_playlist' id=playlist.id %}").then(response => {
            if (response.ok) {
                alert('Shuffle play started!');
            }
            else{
                alert('Failed to start shuffle play!');
            }
        }, networkError => console.log(networkError))
    }
</script>

{% endblock %}
