{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Podcast Details</h2>

    {% for podcast in podcasts %}
    <div class="podcast-info">
        <h3>{{ podcast.judul_podcast }}</h3> <!-- Tambahkan judul podcast di sini -->
        <div class="details-container">
            <div class="left-column">
                <p><strong>Podcaster:</strong> {{ podcast.podcaster.nama }}</p>
                <p><strong>Release Date:</strong> {{ podcast.earliest_release_date|date:"d/m/Y" }}</p>
                <p><strong>Year:</strong> {{ podcast.year }}</p>
            </div>
            <div class="right-column">
                <p><strong>Genre(s):</strong> 
                {% for genre in podcast.genres %}
                    {{ genre }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
                </p>
                <p><strong>Total Duration:</strong> {{ podcast.total_duration_hours }} hours {{ podcast.remaining_minutes }} minutes</p>
            </div>
        </div>
    </div>

    <div class="episode-list">
        <h4>Episodes</h4>
        <table>
            <thead>
                <tr>
                    <th>Episode Title</th>
                    <th>Description</th>
                    <th>Duration</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for episode in podcast.episodes %}
                <tr>
                    <td>{{ episode.judul }}</td>
                    <td>{{ episode.deskripsi }}</td>
                    <td>{{ episode.durasi }} minutes</td>
                    <td>{{ episode.tanggal_rilis|date:"d/m/Y" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>
    {% endfor %}

    <a href="javascript:history.back()" class="back-button">Kembali</a>
</div>

<style>
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
}

h2, h3, h4 {
    margin-bottom: 10px;
}

.podcast-info {
    margin-bottom: 20px;
}

.details-container {
    display: flex;
    justify-content: space-between;
}

.left-column, .right-column {
    width: 45%;
}

.left-column p, .right-column p {
    margin: 5px 0;
}

.back-button {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
}

.back-button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #1fd2d5;
}

tr:hover {
    background-color: #2ada59;
}
</style>
{% endblock %}
