{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center">
    <div class="form-box text-center" style="width: 50%; padding: 30px;">
        <h2>Register</h2>
        <p>Select your registration type:</p>
        <div class="btn-group-vertical" role="group" aria-label="Registration Type">
            <!-- Button for Pengguna with cyan color -->
            <button type="button" class="btn btn-cyan btn-lg mb-3" style="padding: 10px 20px;" onclick="window.location.href='{% url "main:register_user" %}'">Pengguna</button>
            <!-- Button for Label with pink color -->
            <button type="button" class="btn btn-pink btn-lg" style="padding: 10px 20px;" onclick="window.location.href='{% url "main:register_label" %}'">Label</button>
        </div>
    </div>
</div>
{% endblock %}
